body{
    margin:0;
}
.container{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 180px;  
}
img{
    width: 250px;
    height: 180px;
    line-height: 180px; 
    margin-left: 5px;
}
#margin{
    margin-left: 5px;
}
.text-color{
    font-size: 20px;
    color:#808080;
    font-weight: bold;
}
#color{
    color: #24AAE5;
}

#date-color{
    color:#808080;
    font-weight: bold;
}