body{
    margin:0;
    font-weight: bold;
}
.container{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 180px;  
}
h1{
    margin-bottom: 0px;
}
#logo{
    width: 250px;
    height: 180px;
    line-height: 180px; 
    margin-left: 5px;
}
.margin-left{
    margin-left: 5px;
}
.writer{
    font-size: 20px;
    color:#808080;
    font-weight: bold;
}
#text-color{
    color: #24AAE5;
}

#date-color{
    color:#808080;
    font-weight: bold;
    margin-bottom: 20px;
}
main{
    max-width: 1100px;
    margin: 0 0 20px 5px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.background{
    background-color: yellow;
}
table{
    border-spacing: 0;
}
ul{
    padding-left: 15px;
}
th{
    background-color: #20A9E5;
    color: white;
    padding-right: 100px;
    width: 150px;
}
#size-row{
    text-align: left;
    width: 600px;
}
.light-row{
    background-color: #B1E5F2;   
}
.font{
    color: #7F7F7F;
    font-weight: bold;
    margin-bottom: 10px;
}
.first-img{
    background-image: url(../img/monitor.jpg); 
}
.second-img{  
    background-image: url(../img/graph.jpg); 
}
.first-img, .second-img{
    color: white;
    height: 200px;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}